.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left{
    width: 100%;
    max-width: max(500px,30%);

}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.place-order-left input{
    width: 100%;
    padding: 10px ;
    font-size: 16px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    margin-bottom: 15px;
    outline-color: tomato;
}

.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(400px,25%);
}
.place-order .cart-total button{
    margin-top: 30px;
    width: 100%;
    padding: 12px; 
    font-size: 18px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
}