.cart{
    margin-top: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1.2vw, 14px);
}
.cart-items-item{
    margin: 10px 0px;
    color: black;
}
.cart-items-item img{
    width: max(8vw, 80px);
    border-radius: 10px;
}
.cross{
    cursor: pointer;
    font-weight: 600;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(2vw, 20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-total button{
    padding: 15px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    width: max(15vw,200px);
}

.cart-promocode{
    flex: 1;

}
.cart-promocode p{
    color: #555;
}
.cart-promocode-input{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 3px;
}
.cart-promocode-input input{
    flex: 1;
    padding-left: 10px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    outline: none;
}
.cart-promocode-input button{
    padding: 10px 15px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    font-size: 14px;
}
@media (max-width: 768px){
    .cart-items-title{
        grid-template-columns: 1fr 2fr 1fr;
        font-size: max(3vw, 14px);
    }
    .cart-items-title p:nth-child(3),
    .cart-items-title p:nth-child(4),
    .cart-items-title p:nth-child(5){
        display: none;
    }
    .cart-bottom{
        flex-direction: column;
    }
    .cart-total button{
        width: 100%;
    }
}