.app-download{
    margin: auto auto;
    margin: 100px;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 400;
}
.app-download-platform{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.app-download-platform img{
    width: max(30vw,120px);
    max-width: 180px;
    cursor: pointer;
    transition: 0.5s;

}
.app-download-platform img:hover{
    transform: scale(1.1);
}