.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}