.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}
.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  
}
.food-display-list::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .food-display-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
