.footer{
    background-color: #323232;
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 8vw;
    margin-top: 80px;
    gap: 20px;
}

.footer-content{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr ;
    gap: 80px;
}
.footer-content-left, .footer-content-center, .footer-content-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}
.footer-content-left li, .footer-content-center li, .footer-content-right li{
    list-style: none;
    cursor: pointer;
    margin-bottom: 10px;
}
 .footer-content-center h2, .footer-content-right h2{
    color: white;
 }

 .footer-social-icons img{
    width: 40px;
    margin-right: 12px;
 }
 .footer hr{
    width: 100%;
    border: 0.5px solid #555555;
 }

 @media (max-width: 768px) {
    .footer-content{
        grid-template-columns: 1fr ;
        gap: 40px;
        display: flex;
        flex-direction: column;
    }
    .footer-copyright{
        text-align: center;
    }
 }