.Login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #00000090;
    display: grid;
    animation: Fadein 0.5s;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 14px;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}
.login-popup-title img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-popup-input input{
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    font-size: 14px;
}
.login-popup-container button{
    padding: 10px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    font-size: 12px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 3px;
}
.Login-popup p span{
    color: tomato;
    cursor: pointer;
    font-weight: 500;
}